@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
h1{
    color: rgb(232, 231, 231) ;
    font-size: 160px;
    text-align: center;
  
}
p{
    color: rgb(255, 255, 255);
    font-size: 35px;
    text-align: justify;
    padding: 3%;
}
h2{
    color: rgb(117, 161, 239);
    font-size: 120px;
    text-align: center;
   
}
h3{
    color: rgb(157, 180, 240);
    font-size: 80px;
    text-align: center;
   
}
body{

    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgb(9, 17, 135);
}
img{
    width: 30%;
    padding: 1%;
    background-color: rgb(73, 62, 227);
}

.fonte-texto {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;

  }

.fonte{
    font-style: normal;
    text-align: center;
    font-size: 15px;
    color: aliceblue;
}
